html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
    background: url(/assets/images/naturepic.jpg) repeat-y 50% 50%;
}
header {
    width: 100%;
    height: 1px;
    background-size: cover;
}
main {
    clear:both;
    width: 90%;
    /* min-width: 480px; */
    max-width: 960px;
    min-height: 135px;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    margin: 100px auto 100px auto;
    background: white;
    opacity: 1;
    transition: 1s;
    min-height: 40rem;
}
section {
    margin: 10px;
    /* display: flex; */
}
section > p {
    margin: 10px 0 10px 0;
    /* opacity: 1; */
    /* margin: 10px; */
}
#resumeParent {
    overflow: hidden;
    margin: 0 0 0 0;
}
#resumePDF {
    width: 100%;
    height: 1125px;
}
.pproject {
    height: 570px;
}
.pcardhome {
    min-height: 180px;
}
section h4 {
    text-align: center;
    height: 60px;
}
.cardContainer {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}
.card {
    width: 29%;
    min-height: 410px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 9px 0 9px;
    margin: 0 10px 10px 10px;
    /* display: flex; */
}
/* .card:hover {
    background: #bebebe;
} */
.card img {
    width: 100%;
    height: 320px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 10px;
}
/* .space-between {
    display: flex;
    align-items: space-between;
} */
/* .card h4:nth-child(2) {
    align-self: flex-end;
} */
.pCenter {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    clear: both;
    /* align-self: flex-start; */
}
.card > p {
   text-align: left;
}
/* section > p:last-of-type {
    align-self: flex-end;
} */
.logo {
    position: fixed;
    /* float: left; */
    margin: 16px 46px;
    font-size: 20px;
    letter-spacing: 2px;
}
nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    min-width: 840px;
    display: flex;
    justify-content: center;
    transition: 1s;
}
.disabled {
    display: none;
    width: 0;
    height: 0;
}
nav img {
    height: 60px;
}
nav ul, footer ul {
    display: flex;
    justify-content: center;
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    /* padding-right: 40px; */
    transition: 1s;
}
nav > div.menu > ul > li:nth-child(1) {
    padding-left: 80px;
}
nav.black ul {
    background: #000;
}
nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
a:hover {
    color: brown;
}
a[href^="tel:"]:before {
    content: "\260E";
    /*    display: block;*/
    margin-right: 0.5em;
}
.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 60px;
    line-height: 45px;
    min-width: 840px;
}
/* footer ul {
    display: flex;
    justify-content: center;
    text-align: center; 
} */
footer hr, footer ul li, footer a {
    line-height: 1em;
    margin: 5px 10px 5px 10px;
    color: #fff;
}
@media(max-width: 768px) {
    main {
        border-radius: 10px;
    }
    .pcardhome {
    min-height: auto;
    }
    #resumePDF {
        height: 930px;
    }
    nav, footer {
        position: fixed;
        width: 100%;
        line-height: 60px;
        min-width: 0;
        display: block;
    }
    nav ul:first-of-type {
        display: block;
        float: left;
    }
    .logo {
        position: fixed;
        top: 0;
        left: 5px;
    }
    nav ul {
        max-height: 0px;
        background: #000;
        line-height: 0;
        width: 100%
    }
    nav.black ul {
        background: #000;
    }
    nav > div.menu > ul > li:nth-child(1) {
    padding-left: 24px;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding-left: none;
        padding: 24px;
        text-align: center;
    }
    .menu-icon {
        display: block;
    }
    .showing {
        max-height: 15em;
/*        width: 100%;*/
    }
    .slidecontent {
        margin-top: 350px;
    }
}
@media(max-width: 740px) {
    main {
        width: 95%;
    }
    .cardContainer {
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        width: 90%;
        min-height: auto;
    }
    .card img {
        /* width: 100%; */
        height: auto;
    }
    .pproject {
        height: auto;
    }
    #resumePDF {
        height: 630px;
    }
    section h4 {
    text-align: center;
    height: auto;
    }
}
@media(max-width: 768px) {
    #resumePDF {
        height: 630px;
    }
}